@layout BlankLayout
@page "/"

<div class="d-flex align-items-center min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex align-items-center justify-content-center form-group">
                <img src="img/protokkoli_logo.svg" class="img" height="256px" width="256px" alt="Logo Protokkoli">
            </div>

            <div class="col-md-9 my-auto">
                <a class="btn btn-primary btn-lg btn-block" href="/login" role="button">Weiter zur Anmeldung</a>
            </div>
        </div>
    </div>
</div>